#board {
	display: flex;
	flex-wrap: wrap;
	width: 96vw;
}
.row {
	display: flex;
}
.tile {
	background-image: linear-gradient(to bottom right, white, gray);
	height: 12vw;
	min-width: 12vw;
}
.tile:nth-of-type(2n) {
	background-image: linear-gradient(gray, black);
}
.row:nth-of-type(2n) {
	flex-direction: row-reverse;
}

